<?xml version="1.0"?>
<model>
  <name>M950 RS</name>
  <version>1.0</version>
  <sdf version="1.5">m950_v6_v5.sdf</sdf>

  <author>
   <name>zhouhua</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Clobotics M950 V3 with mounted Intel Realsense module
  </description>
</model>
